 *m background: linear-gradient(to right, #D86997,#F2C14E);
  background:#e4f7eb;
  background-color: #1C3738; 
  background: linear-gradient(to right,#7a3a77, #eed7e1);
*u background: linear-gradient(to right, #D86997,#F2C14E);
*c background: linear-gradient(to right,#916c80, #ffc6d9);